name: CI/CD Pipeline

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

env:
  PROJECT_NAME: saas-boilerplate
  REGISTRY: registry.leandroviegas.dev
  REGISTRY_URL: registry.leandroviegas.dev
  BACKEND_REGISTRY: registry.leandroviegas.dev/saas-boilerplate-api
  FRONTEND_REGISTRY: registry.leandroviegas.dev/saas-boilerplate-web
  BACKEND_VERSION: ${{ github.sha }}
  FRONTEND_VERSION: ${{ github.sha }}

jobs:
  backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Private Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push Backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: ${{ github.event_name == 'push' }}
          tags: ${{ env.BACKEND_REGISTRY }}:${{ env.BACKEND_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:master
            network=host
          buildkitd-config: |
            [registry."84.247.134.38:5000"]
              http = true

      - name: Login to Private Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push Frontend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: ${{ github.event_name == 'push' }}
          tags: ${{ env.FRONTEND_REGISTRY }}:${{ env.FRONTEND_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
